{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %}

<!-- Listing Area Start Here -->
{% block main_content %}
<!-- My Account Area Start Here -->
<section
  class="my-account-wrap padding-top-10 padding-bottom-10"
  style="margin-top: 10px"
>
  <h4 class="text-center">
    Please check your email we have sent a verification link to verify your
    account.
  </h4>

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-danger">RESEND LINK</button>
      </div>
    </div>
  </div>
</section>
<!-- My Account Area End Here -->
{% endblock %} {% block scripts %} {{ block.super }}
<script type="text/javascript">
  $(document).ready(function () {});
</script>
{% endblock %}
