{% load static  %}
<!DOCTYPE html>
<html class="no-js" lang="">
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Service Place | Home</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}' %}" />
    <!-- Normalize Css -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <!-- Main Css -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login-form.css' %}" />
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}" />
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="{% static 'fonts/flaticon.css' %}" />
    <!-- Select 2 CSS -->
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <!-- Slick Caousel CSS -->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}" />
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!-- Modernizr Js -->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="{% static 'js/modernizr-3.6.0.min.js' %}"></script>
    
  </head>

  <body>

    <!-- Add your site or application content here -->
    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->
    <!-- ScrollUp Start Here -->
    <a href="#wrapper" data-type="section-switch" class="scrollup">
      <i class="fa fa-angle-double-up"></i>
    </a>
    <!-- ScrollUp End Here -->
    <div id="wrapper" class="wrapper">
      <!-- Header Area Start Here -->
      <header id="site-header" class="header-one">
        <div class="header-main header-sticky bg-success">
          <div class="container-fluid">
            <div class="mob-menu-open toggle-menu">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
            <div class="row">
              <div class="col-lg-2 col-12">
                <div class="site-logo">
                  <a href="index.html" class="main-logo"
                    ><img src="{% static 'img/logo.png' %}" alt="Site Logo"
                  /></a>
                  <a href="#" class="sticky-logo"
                    ><img src="{% static 'img/sticky-logo.png' %}" alt="Site Logo"
                  /></a>
                </div>
              </div>
              <div class="col-lg-7 col-12 possition-static">
                <nav class="site-nav">
                  <ul class="site-menu">
                    <li>
                      <a href="{% url 'home' %}" class="text-white">Home</a>
                    </li>
                    <li><a href="about-us.html" class="text-white">About</a></li>
                    <li>
                      <a href="#" class="text-white">Categories</a>
                      <ul class="dropdown-menu-col-1">
                        <li>
                          <a href="listing-grid-view1.html"
                            >Listing Grid View 1</a
                          >
                        </li>
                        <li>
                          <a href="listing-grid-view2.html"
                            >Listing Grid View 2</a
                          >
                        </li>
                        <li>
                          <a href="listing-grid-view3.html"
                            >Listing Grid View 3</a
                          >
                        </li>
                        <li>
                          <a href="listing-grid-view4.html"
                            >Listing Grid View 4</a
                          >
                        </li>
                        <li>
                          <a href="listing-grid-view5.html"
                            >Listing Grid View 5</a
                          >
                        </li>
                        <li>
                          <a href="listing-list-view1.html"
                            >Listing List View 1</a
                          >
                        </li>
                        <li>
                          <a href="listing-list-view2.html"
                            >Listing List View 2</a
                          >
                        </li>
                        <li>
                          <a href="single-listing1.html">Listing Details 1</a>
                        </li>
                        <li>
                          <a href="single-listing2.html">Listing Details 2</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#" class="text-white">Events</a>
                      <ul class="dropdown-menu-col-1">
                        <li>
                          <a href="event.html">Event</a>
                        </li>
                        <li>
                          <a href="single-event.html">Event Details</a>
                        </li>
                      </ul>
                    </li>

                    <li>
                      <a href="#" class="text-white">Blog</a>
                    </li>
                    <li><a href="contact.html" class="text-white">Contact</a></li>
                  </ul>
                </nav>
              </div>
              <div
                class="col-lg-3 d-none d-lg-flex align-items-center justify-content-end"
              >
                <div class="nav-action-elements">
                  <ul>
                    <li>
                      {%if request.user.is_authenticated%}
                      <a href="{% url 'logout' %}"
                        class="login-btn text-white"
                      >
                        <i class="flaticon-profile"></i>Logout
                      </a>
                      {% else %}
                      <a href="{% url 'login' %}"
                      class="login-btn text-white"
                    >
                      <i class="flaticon-profile"></i>Login
                    </a>
                    {% endif%}
                    </li>
                    <li>
                      <a href="{% url 'signup' %}" class="ghost-btn text-white"
                        ><i class="fa fa-plus"></i>ADD LISTING</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- Header Area End Here -->
      <!-- Main Banner Area End Here -->
      {% block main_content %}
        
      {% endblock %}
      <!--end Main Content-->
      <!-- Footer Area Start Here -->
      <footer>
        <section class="footer-top-wrap">
          <div class="container">
            <div class="row">
              <div class="single-item col-lg-3 col-md-6 col-12">
                <div class="footer-box">
                  <div class="footer-logo">
                    <a href="index.html"
                      ><img
                        src="{% static 'img/footer-logo.png' %}"
                        class="img-fluid"
                        alt="footer-logo"
                    /></a>
                  </div>
                  <div class="footer-about">
                    <p>Use the Upwork platform chat ande your desktop metro.</p>
                  </div>
                  <div class="footer-contact-info">
                    <ul>
                      <li>
                        <i class="fa fa-map-marker-alt"></i>34 Street kancas
                        City United States area.
                      </li>
                      <li><i class="fa fa-phone"></i>+123 6669 000</li>
                      <li><i class="far fa-envelope"></i>info@listygo.com</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="single-item col-lg-3 col-md-6 col-12">
                <div class="footer-box">
                  <div class="footer-header">
                    <h3>Top Highlights</h3>
                  </div>
                  <div class="widget_nav_menu">
                    <ul>
                      <li>
                        <a
                          href="https://www.radiustheme.com/demo/html/listygo/listygo/single-departments.html"
                          >Hotel</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://www.radiustheme.com/demo/html/listygo/listygo/single-departments.html"
                          >Restaurant</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://www.radiustheme.com/demo/html/listygo/listygo/single-departments.html"
                          >Appartment</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://www.radiustheme.com/demo/html/listygo/listygo/single-departments.html"
                          >SPA &amp; Beauty</a
                        >
                      </li>
                      <li>
                        <a
                          href="https://www.radiustheme.com/demo/html/listygo/listygo/single-departments.html"
                          >Atuomation</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="single-item col-lg-3 col-md-6 col-12">
                <div class="footer-box">
                  <div class="footer-header">
                    <h3>Support</h3>
                  </div>
                  <div class="widget_nav_menu">
                    <ul>
                      <li><a href="about-us.html">Live Chat</a></li>
                      <li><a href="about-us.html">FAQ</a></li>
                      <li><a href="faq.html">Stay safe</a></li>
                      <li>
                        <a
                          href="https://www.radiustheme.com/demo/html/listygo/listygo/appointment.html"
                          >Contact us</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="single-item col-lg-3 col-md-6 col-12">
                <div class="footer-box">
                  <div class="footer-header">
                    <h3>Follow Us On</h3>
                  </div>
                  <div class="footer-social">
                    <ul>
                      <li>
                        <a href="#"><i class="fa fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-linkedin-in"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-pinterest-p"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-skype"></i></a>
                      </li>
                    </ul>
                  </div>
                  <ul class="folow-us">
                    <li>
                      <a href="#">
                        <img src="{% static 'img/figure/follow1.jpg' %}" alt="follow" />
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="{% static 'img/figure/follow2.jpg' %}" alt="follow" />
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="footer-bottom-wrap">
          <div class="container">
            <div class="copyright">2018 Copyright © listygo.com</div>
          </div>
        </section>
      </footer>
      <!-- Footer Area End Here -->
    </div>
    <!-- Modal Start-->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="title-default-bold mb-none">Login</div>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <form class="login-form">
              <input
                class="main-input-box"
                type="text"
                placeholder="User Name"
              />
              <input
                class="main-input-box"
                type="password"
                placeholder="Password"
              />
              <div class="inline-box mb-5 mt-4">
                <div class="checkbox checkbox-primary">
                  <input id="checkbox1" type="checkbox" />
                  <label for="checkbox1">Remember Me</label>
                </div>
                <label class="lost-password"
                  ><a href="#">Lost your password?</a></label
                >
              </div>
              <div class="inline-box mb-5 mt-4">
                <button class="btn-fill" type="submit" value="Login">
                  Login
                </button>
                <a href="#" class="btn-register"
                  ><i class="fa fa-user"></i>Register Here!</a
                >
              </div>
            </form>
            <label>Login connect with your Social Network</label>
            <div class="login-box-social">
              <ul>
                <li>
                  <a href="#" class="facebook"
                    ><i class="fa fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#" class="linkedin"
                    ><i class="fa fa-linkedin-in"></i
                  ></a>
                </li>
                <li>
                  <a href="#" class="google"
                    ><i class="fa fa-google-plus-g"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal End-->
    {% block scripts %}
    <!-- Jquery Js -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugins Js -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Select 2 Js -->
    <script src="{% static 'js/select2.full.min.js' %}"></script>
    <!-- Imagesloaded Js -->
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <!-- Isotope js -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <!-- Silk Cauosel JS -->
    <script src="{% static 'js/slick.min.js' %}"></script>
    <!-- Parallaxie JS -->
    <script src="{% static 'js/parallaxie.js' %}"></script>
    <!-- Smoothscroll Js -->
    <script src="{% static 'js/smoothscroll.min.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}
  </body>

  <!-- Mirrored from radiustheme.com/demo/html/listygo/listygo/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Dec 2022 04:11:05 GMT -->
</html>
